


.allToDo{
    font-family: Microsoft YaHei;
    margin:auto;
    overflow:hidden;
    width:50%;
    min-width: 710px;
}

.done{
    text-decoration: line-through;
}
.todoContainer{
    width: 40%;
    height: 200px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 8px;
    margin:10px 0 0 20px;
    padding:15px 0 0;
    display: inline-block;
    float: left;
}
.todo-input{
    display: block;
    border-radius: 8px;
    width:80%;
    height:50px;
    margin: 0px auto;
    border:1px solid gray;
    font-size: 20px;
}
.todo-button1{
    display: block;
    border-radius: 5px;
    margin:20px auto;
    padding:4px;
    width:80%;
    font-size: 20px;
    background-color: #FFFACD;
    color:#1C86EE;
    border:none;
}
.todo-clear{
    background-color: #D1EEEE;
}
.todoList{
    width:50%;
    min-height: 500px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 8px;
    margin:10px 0 0 10px;
    padding:5px 0;
    display: inline-block;
    float: left;
}
.todoList h3{
    text-align: center;
    margin:0;
}
.todo-cell{
    width: 90%;
    font-size: 20px;
    margin:10px auto 0;
    border-bottom: 2px solid #D1EEEE;
}
.todo-time{
    display: block;
    color:white;
    font-size: 5px;
}
.todo-content{
    display: inline-block;
    padding:2px 0 3px;
    width:60%;
    font-size: 18px;
    font-family: 黑体;
    /*断句*/
    word-wrap:break-word;
    word-break:break-all;
}
.todo-button2{
    display: inline-block;
    float: right;
    margin:0 5px;
    border-radius: 30px;
    border:none;

}
